<a href="https://colab.research.google.com/github/AnvithAnvi/Black-Friday-Sale-EDA/blob/main/BF%20Sale%20EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why this Project?

Want to build a model to predict the purchase amount of customer against various products which will help them to create personalized offer for customers against different products.

# Which Domain my Dataset belongs to?

My Data-set belong to Business Domain.

# Information about my Dataset?

Summary of various customers for selected high volume products from last month. The data set also contains customer demographics (age, gender, marital status, citytype, stayincurrentcity), product details (productid and product category) and Total purchaseamount from last month.

#	What is my approach?

* Purchase column is the Target Variable, perform Univariate Analysis and 


* Bivariate Analysis w.r.t the Purchase.<br>
Masked in the column description means already converted from categorical value to numerical column.

*	DATA PREPROCESSING<br>
1) Perform EDA<br>
2) Rename columns <br>
3) Check for unique values in data<br>
4) Drop unnecessary fields<br>
5) Missing value treatment<br>
6) Fill nan values<br>
7) Convert categorical data into integer using map function.
*	Data Visualisation<br>
1) visualize individul column<br>
2) Age vs Purchased<br>
3) Occupation vs Purchased<br>
4) Productcategory1 vs Purchased<br>
5) Productcategory2 vs Purchased<br>
6) Productcategory3 vs Purchased

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Data cleaning:**<br>
For data cleaning we are going to make use 2 Python libraries:-<br>
1) Numpy<br>
2) Pandas

In [3]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

### Reading the csv file and visualizing the data

In [5]:
data=pd.read_csv('/content/drive/MyDrive/EDA Project INT353/Black Friday Sale.csv')
data.head(4)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057